html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 233, 233);
}

.nav {
  width: 43px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 50, 79);
}

.nav > *:hover {
  background-color: rgb(39, 82, 120);
}

.wrapper,
.wrapper-child,
.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

a {
  width: 100%;
  height: auto;
  padding: 25px 8px;
}

a > img {
  width: 25px;
  height: auto;
  opacity: 0.8;
}

.info-container {
  width: 100%;
  padding: 12px 0;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: white;
}
