<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Time Quiz</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" href="icon.png" />
    <link rel="stylesheet" href="/form/assets/css/form.css">
  </head>
  <body>
    <div class="wrapper">
      <a href="/"
        ><img
          src="icon.png"
          alt=""
          style="margin-right: 12px"
        />Let's QUIZZ</a
      >
      <form action="/login" method="post">
        <h1>Login</h1>  
        <div class="mb-3 form-group">
          <input
            autofocus
            required
            type="email"
            class="form-control"
            id="mail"
            name="mail"
            aria-describedby="emailHelp"
            placeholder="Email"
            <% if (data) { %> 
              value="<%= data %>"
            <% } %>
          />
          <% if (errors) { %>
            <% errors.forEach(function(error) { %>
              <% if (error.path === "mail") { %>
                <p class="error text-danger"><%= error.msg %></p>
              <% } %>
            <% }) %>
          <% } %>
        </div>
        <div class="mb-3 form-group">
          <div class="password">
            <input
              required
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
            />
            <button type="button" class="btn pw-visibility"><img src="/form/assets/images/hidepw.png" alt=""></button>
          </div>
          <% if (errors) { %>
            <% errors.forEach(function(error) { %>
              <% if (error.path === "password") { %>
                <p class="error text-danger"><%= error.msg %></p>
              <% } %>
            <% }) %>
          <% } %>
        </div>
        <input
          type="submit"
          class="btn btn-primary"
          name="login"
          value="Login"
        />
      </form>
      <div>New to this website? <a href="/register">Join now</a></div>
    </div>
    <script src="/form/assets/js/form.js"></script>
  </body>
</html>
